@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 100%;
    height: 675px;
    background-image: url(img/big/slider_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.slider__wrapper {
    width: 1140px;
    height: 100%;
    margin: auto;
    position: relative;
}

.slider__preSlids {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.slider__preSlide {
    cursor: pointer;
    height: 67px;
    width: 274px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    position: relative;
}

.slider__preSlide__img {
    position: absolute;
    top: 6px;
    left: 6px;
    height: 55px;
    width: 48px;
    border-radius: 3px;
}

.slider__preSlide_active {
    background-color: rgba(0, 0, 0, 0.5);
}

.slider__preSlide__data {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    position: absolute;
    left: 63px;
    top: 13px;
    color: white;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.slider__preSlide__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 63px;
    top: 28px;
    color: white;
    width: 187px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    line-height: 100%;
}

.slider__info {
    position: absolute;
    left: 488px;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Open Sans', sans-serif;
    color: black;

}

.slide__info__text {
    font-size: 42px;
    font-weight: 600;
}

.slide__info__data {
    font-size: 26px;
    font-weight: 600;
    line-height: 100%;
    padding-top: 20px;
}

.slide__info__button__main {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    width: 155px;
    height: 45px;
    background-color: rgba(255, 137, 30, 1);
    border: 0;
    margin-top: 26px;
    margin-right: 22px;
    border-radius: 3px;
}

.slide__info__button__main:hover {
    background-color: rgba(255, 137, 30, 0.5);
}

.slide__info__button {
    font-family: 'Open Sans', sans-serif;
    width: 155px;
    height: 45px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: unset;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
}

.slide__info__button:hover {
    background-color: rgba(255, 255, 255, 0.5)
}

.slider__prev {
    cursor: pointer;
    position: absolute;
    color: white;
    height: 85px;
    width: 77px;
    background-color: rgba(0, 0, 0, 0.1);
    top: 50%;
    transform: translate(0, -50%);
    border: 0;
    font-size: 16px;
}

.slider__next {
    cursor: pointer;
    position: absolute;
    color: white;
    height: 85px;
    width: 77px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 0;
    top: 50%;
    transform: translate(0, -50%);
    right: 0;
    font-size: 16px;
}

.slider__prev:hover, .slider__next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1200px) {
    .slider__wrapper {
        width: 942px;
    }

    .slider__info {
        left: 450px;
    }

    .slide__info__text {
        font-size: 35px;
    }
    
    .slide__info__data {
        font-size: 22px;
        padding-top: 14px;
    }

    .slide__info__button__main {
        font-size: 13px;
        width: 128px;
        height: 37px;
        margin-top: 20px;
        margin-right: 20px;
    }
    
    .slide__info__button {
        width: 128px;
        height: 37px;
        font-size: 13px;
    }

    .slider__preSlids {
        bottom: 26px;
    }

    .slider__preSlide {
        height: 55px;
        width: 224px;
    }
    
    .slider__preSlide__img {
        top: 5px;
        left: 5px;
        height: 45px;
        width: 40px;
    }

    .slider__preSlide__data {
        font-size: 9px;
        left: 51px;
        top: 10px;
    }
    
    .slider__preSlide__text {
        font-size: 10px;
        left: 51px;
        top: 22px;
        width: 187px;
    }
}

@media screen and (max-width: 768px) {
    .slider {
        height: 400px;
        background-image: url(img/small/slider_1min.jpg);
    }

    .slider__prev {
        display: none;
    }

    .slider__next {
        display: none;
    }

    .slider__preSlide__img {
        display: none;
    }

    .slider__preSlide__data {
        display: none;
    }
    
    .slider__preSlide__text {
        display: none;
    }

    .slide__info__button {
        display: none;
    }
    
    .slider__preSlids {
        width: 110px;
    }

    .slider__preSlide {
        height: 14px;
        width: 14px;
        background-color: unset;
        border: solid;
        border-width: 1px;
        border-color: #282828;
        border-radius: 100%;
    }

    .slider__preSlide_active {
        background-color: #282828;
    }

    .slider__wrapper {
        width: 375px;
        display: flex;
        justify-content: center;
    }

    .slider__info {
        left: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .slide__info__text {
        font-size: 25px;
        margin: auto;
        text-align: center;
    }
    
    .slide__info__data {
        font-size: 18px;
        padding-top: 20px;
        margin: auto;
    }
    
    .slide__info__button__main {
        font-size: 13px;
        width: 128px;
        height: 40px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    }
}
